<li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
  <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
     dropdownToggle [addToggleClass]="false">
    <i class="icon-bell"></i>
    <span *ngIf="alerts.length > 0" class="tag tag-pill" [ngClass]="defaultStyle">{{alerts.length}}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">
    <div class="dropdown-header text-xs-center">
      <strong>Alertas</strong>
    </div>
    <a class="dropdown-item text-xs-center" *ngIf="alerts.length == 0">Sem novos alertas</a>
    <a *ngFor="let alert of alerts" class="dropdown-item" (click)="doAction(alert)">
      <i class="fa" [ngClass]="alert.icon"></i>{{alert.message}}</a>
  </div>
</li>

