<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i>
          Visão Geral </a>
      </li>
      <li class="nav-item" *ngIf="user.email == 'paulofavarato@gmail.com'">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin']"><i
          class="icon-settings"></i>
          Administração </a>
      </li>

      <li class="divider m-h"></li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pacientes']"><i
          class="icon-calculator"></i>
          Pacientes </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pacientes/novo']"><i class="icon-calculator"></i>
          Novo paciente </a>
      </li>
      <li class="divider m-h"></li>
      <li class="nav-title">
        System Utilization
      </li>
      <li class="nav-item px-1">
        <div class="text-uppercase mb-q">
          <small><b>CPU Usage</b>
          </small>
        </div>
        <progress class="progress progress-xs progress-info m-0" value="25" max="100">25%</progress>
        <small class="text-muted">348 Processes. 1/4 Cores.</small>
      </li>
      <li class="nav-item px-1">
        <div class="text-uppercase mb-q">
          <small><b>Memory Usage</b>
          </small>
        </div>
        <progress class="progress progress-xs progress-warning m-0" value="70" max="100">70%</progress>
        <small class="text-muted">11444GB/16384MB</small>
      </li>
      <li class="nav-item px-1">
        <div class="text-uppercase mb-q">
          <small><b>SSD 1 Usage</b>
          </small>
        </div>
        <progress class="progress progress-xs progress-danger m-0" value="95" max="100">95%</progress>
        <small class="text-muted">243GB/256GB</small>
      </li>

    </ul>
  </nav>
</div>
