<div class="row">
  <div class="col-sm-9">
    <!--Card-->
    <div class="card">
      <div class="card-header">
        Linha do tempo
      </div>
      <div class="card-block">
        <div class="row">
          <form [formGroup]="myForm">
            <div class="offset-md-8 col-md-4 mb-1">
              <select class="form-control" formControlName="filter" id="eventFilter">
                <option>Todos eventos</option>
              </select>
            </div>
          </form>
        </div>
        <div *ngIf="activities.length > 0">
          <app-activity *ngFor="let activity of activities" [activity]="activity"></app-activity>
        </div>
        <div *ngIf="activities.length === 0" class="activity">
          <div class="mt-1 activity-block">
            <div class="text-xs-center text-muted"></div>
            <h5>Sem eventos</h5>
          </div>
        </div>
      </div>
      <!--End Card-->
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Sinais Vitais
      </div>
      <div class="card-block">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex
        ea commodo consequat.

        <button class="btn btn-primary" (click)="addtoTime()">Adicionar</button>
      </div>
    </div>
  </div>
</div>
