hr.transparent {
  border-top: 1px solid transparent;
}

.hr-line-dashed {
  border-top: 1px dashed $border-color;
  height: 1px;
  margin: 20px 0;
}

.d-table {
  display: table;
}

.d-100vh-va-middle {
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
}

